body {
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
}

h1 {
  font-size: 100px;
}

h1,
h4,
.intro {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
}

h4,
.intro {
  font-size: 40px;
}

h2,
h3,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.primary-link,
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: #e8b0fe;
  color: white;
}

.primary-link {
  display: block;
  width: 120px;
  margin: auto;
  text-align: center;
}

.social-media {
  color: slategrey;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inquiry {
  border: 1px solid slategray;
  padding: 2px 4px 2px 4px;
}

footer .email-link {
  font-family: "Poppins", sans-serif;
  color: #e8b0fe;
  display: block;
  margin:auto
}

.weather {
  border: 1px solid slategray;
}

.navbar {
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
  font-family: "Poppins", sans-serif;
}

img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }
    .box{
        width: 250px;        
        border: 5px solid black;
    }    
    .box.large{
        height: 300px;
    }
    .box.small{
        height: 100px;}

        p {
          font-size: 14px;
        }

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;;
}

.about-section-content {
  margin: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
   font-family: "Poppins", sans-serif;);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
font-family: "Poppins", sans-serif;;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.sourcecode {
  font-size: 10px;
   font-family: "Poppins", sans-serif;
   color:#F673A1;
   text-align: center;
   display: block;

}


footer .social-links a {
  margin: 0 20px;
  color:  #e8b0fe;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color:slategrey ;
}